@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 992px) {
	.header-text {
	    font-size: 12px;
	}
	.top-header-contact{
		margin: 20px 0 20px;
	}
	#navbarSupportedContent{
		padding-top: 10px;	
	}
	.top-hdr-contact .item:not(:last-child) {
	    margin-right: 22px;
	}
	.about-img{
		text-align: center;
	}
	.service-image img{
		margin: auto;
	}
	.form-section{
		height: auto;
	}
	.service-image img{
		text-align: center;
	}
	.employee {
		padding: 0;
	}
}

@media screen and (max-width: 768px) {

	.img-fluid{
		margin: auto;
	}
	.header-button {
		margin: auto;
	}
	.custom-slider img{
    	height: 500px;
    }
	.carousel-caption{
		top: 25%;
	}
	.carousel-caption h6{
		margin: 15px 0;
		padding: 0 50px;	
	}
	.about-section{
		padding: 0;
	}
	.about-img{
		margin:20px 0 0;
		text-align: center;
	}
	.about {
		height: auto;
	}
	.service-section{
		height: auto;
	}
	.services {
    margin-top: 55px;
	}
	.service-image img{
		margin: auto;
	}
	.services .service-title {
    margin-bottom: 20px;
	}
	.service-item:not(:last-child) {
    margin-bottom: 40px;
	}
	.img3{
		padding-top: 0;
	}
	.footer-section{
		height: auto;
	}
	.left{
		text-align: center !important;
		padding-bottom: 20px;
	}
	.right{
		text-align: center !important;
	}
	.work-title {
    	margin: 55px 0 50px;
	}
}

@media screen and (max-width: 576px){
	.about-section {
    	padding:15px 10px;
	}
	.about-title h2 {
    	font-size: 22px;
	}
	.work-title {
    	margin: 30px 0 10px;
	}
	.employee-section .work-title h2 {
   		 margin-bottom: 15px;
	}
	.card-item{
		margin: 20px;
	}
}

@media screen and (max-width: 425px) {
	/*top header css*/
    .top-header-contact,
    .logo {
        display: table;
        margin: auto;
    }
    .header-button {
        margin: auto;
        margin-top: 10px;
    }

    .top-header-contact .item:not(:last-child) {
        margin-right: 0;
    }
    .top-header-contact .item:not(:last-child){
    	margin-bottom: 15px;
    }
    /*top header css end*/

    /*slider and carousel css*/
    .custom-slider img{
    	height: 400px;
    }
    .carousel-caption{
		margin-top: 0px;
	}
	.carousel-caption h1{
	font-weight: 500;
	font-size: 20px;	
	}
	.carousel-caption h6{
	margin: 10px 0;
	font-size: 10px;
	padding: 0;
	line-height: 15px;	
	}
	/*slider and carousel css*/

	/*about css*/
	.about-section {
    	padding:15px 10px;
	}
	.about-title h2 {
    	font-size: 22px;
	}
	.about{
		display: table;
		margin: auto;
		height: auto;
	}
	.about-title {
    	margin-bottom: 10px;
	}
	/*about css end*/

	/*form section css*/
	.form-section {
	height: auto;
	}
	/*form section css end*/

	/*service section css*/
	.service-section {
		height: auto;
	}

	/*image grid css*/
	.filter-button ul li {
		margin-bottom: 12px;
	}
	.grid-item {
		width: 100%;
	}
	.grid-item-default-mb {
		margin-bottom: 18px;
	}
	/*image grid css*/
	.card-img {
		margin-bottom: 20px;
	}
	/*footer bottom*/
	.right {
		margin-bottom: 20px;
	}
	

}

@media screen and (max-width: 424.98px){
	.img-fluid{
		height: auto;
	}
	 .carousel-caption{
		top: 5%;
	}
	.custom-slider img{
    	height: 250px;
    }
    .carousel-caption h1{
		font-size: 15px;	
	}
	.carousel-caption h6{
	margin: 5px 0;
    font-size: 11px;
    padding: 10px;
    line-height: 12px;	
	}
	.header-button1 {
		margin-bottom: 10px;
	}
	.about {
		height: 208px;
	}
	.form-section{
	height: auto;
	}
	.help-center .contact-number li{
		display: block;
	}
	.card-link ul li{
    	display: block;
    	
	}

}
